version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: bookingbadminton-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_HOST: "%"
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.4
    container_name: bookingbadminton-keycloak
    depends_on:
      - mysql
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMINUSER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMINPASSWORD}
      KC_DB: mysql
      KC_DB_URL: jdbc:mysql://mysql:3306/${KEYCLOAK_DB_NAME}?allowPublicKeyRetrieval=true&useSSL=false
      KC_DB_USERNAME: ${KEYCLOAK_DB_USERNAME}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
      KC_HOSTNAME_STRICT: "false"
      KC_EVENTS_LISTENERS: "jboss-logging,http"
      KC_EVENTS_ADMIN_LISTENERS: "jboss-logging,http"
      KC_SPI_EVENTS_LISTENER_HTTP_ENDPOINT: http://app:8080/internal/keycloak/admin-event
      KC_SPI_EVENTS_LISTENER_HTTP_AUTH_TOKEN: ${KEYCLOAK_ADMIN_EVENT_SECRET}
    command:
      - start-dev
      - --http-port=8080
    ports:
      - "8180:8080"
    restart: unless-stopped
    volumes:
      - ./docker/keycloak/providers:/opt/keycloak/providers

  app:
    build: .
    image: bookingbadminton-app:latest
    container_name: bookingbadminton-app
    depends_on:
      - mysql
      - keycloak
    env_file:
      - .env
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      KEYCLOAK_SERVERURL: http://keycloak:8080/
      KEYCLOAK_ISSUER_URI: http://keycloak:8080/realms/${KEYCLOAK_REALM}
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  mysql_data:
